@font-face {
    font-family: 'Ogg';
    src: url('fonts/Ogg-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Ogg', sans-serif;
    line-height: 1.6;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7f2549;
    padding: 10px 20px;
}

.main-nav a.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #fffdfe;
        text-decoration: none;
    transition: color 0.3s;
}

.main-nav a.logo:hover {
    color: #9c7582;
}

.nav {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav a {
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav a:hover,
.nav a.active {
    background-color: #7f2549;
    color: #fff;
}


/* LogIn-SignUp section */
.section{
    background-color: blue;
    display: flex;
    justify-content: center;
}
.mainBox{
    background-color: aliceblue;
    width: 500px;
    height: auto;

}
.logInPart{
    background-color: pink;
}
.logInForm{
    display: flex;
    flex-direction: column;
}
.signUpPart{
    background-color: darkkhaki;
}